<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page - Ticket_Tally</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/Z1srPv7lOy9C27hHQ+Xp8a4MxAQ5a+VfT5HCVcF3r3TFaRr+emzKXPFsdxUe1YxxhOA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>